*{
    background-color: orange;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 0 80px;
    background-color: chocolate;
    /* color: aliceblue; */
    height: 40px;
    padding-top:20px
    
}
button{
    border:1px orange solid;
    border-radius: 2px;
}
header nav {
    background-color: chocolate;
    height: 40px;
}

#content{
    background-color: rgb(244, 187, 80);
    width: 1000px;
    height:600px;
    border:1px rgb(214, 140, 1) solid;
    /* align-items: center; */
    /* display: flex; */
    margin:20px auto;
    
}
.cls{
    width: 890px;
    background-color: #f8c406;
    height: 40px;
    margin:0 auto;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    padding:20px 0;
}
#image{
    width:890px;
    height:500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color:rgb(244, 187, 80);
}
.rest{
    max-width: 100%;
}
.one{
    display: flex;
    margin: 20px 20px;
}
p{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    background-color:rgb(244, 187, 80);
}
.bgc{
    background-color: chocolate;
    
}
footer{
    height:50px;
    width:100%;
}
footer div{
    background-color: chocolate;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
}
.mdl{
    margin:0 15px;
}
div{
    background-color: rgb(224, 165, 56);
    border-radius: 5px;
}
.end{
    width:610px;
    height: 200px;
    display: flex;
    background-color: rgb(224, 165, 56);
    margin:20px auto;
    /* align-items: center; */

}
.end div{
    margin-left:20px;
    margin-top: 10px;
}