*{
    background-color: orange;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 0 80px;
    background-color: chocolate;
    height: 40px;
    padding-top:20px
    
}
button{
    border:1px orange solid;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:saturation;
    background-color:rgb(239, 195, 92)
}
header nav {
    background-color: chocolate;
    height: 40px;
}

#content{
    width: 1000px;
    height:600px;
    border:1px rgb(214, 140, 1) solid;
    margin:20px auto;
    
}
button:active{
    background-color: brown;
    cursor: pointer;
    
}


/* p{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
   
}

footer{
    height:50px;
    width:100%;
    background-color: chocolate;
}
footer div{
    background-color: chocolate;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
} */
/* 
div{
    border-radius: 5px;
} */

